body {
  margin: 0;
  font-family: 'Courier', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2980B9;
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  background-size: 400%;
  -webkit-animation: bgMove 23s ease infinite;
	-moz-animation: bgMove 23s ease infinite;
  animation: bgMove 23s ease infinite;
  
  @-webkit-keyframes bgMove {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
  }
  @-moz-keyframes bgMove {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
  }
  @keyframes bgMove { 
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
  }

}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

input {
  outline: none;
}

img {
  max-width: 65vw !important;
  border-radius: 10px;
}